# ---
# Module: ai_services
# ---
ai_services_deployments = [
  {
    location = "japaneast"
    deployments = [
      {
        name = "gpt-4o"
        model = {
          name    = "gpt-4o"
          version = "2024-08-06"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 450
        },
      },
      {
        name = "gpt-4o-mini"
        model = {
          name    = "gpt-4o-mini"
          version = "2024-07-18"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 2000
        },
      },
      {
        name = "text-embedding-3-small"
        model = {
          name    = "text-embedding-3-small"
          version = "1"
        }
        sku = {
          name     = "Standard"
          capacity = 350
        },
      },
      {
        name = "text-embedding-3-large"
        model = {
          name    = "text-embedding-3-large"
          version = "1"
        }
        sku = {
          name     = "Standard"
          capacity = 350
        },
      },
    ]
  },
  {
    location = "eastus"
    deployments = [
      {
        name = "gpt-4o"
        model = {
          name    = "gpt-4o"
          version = "2024-11-20"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 450
        },
      },
      {
        name = "gpt-4o-mini"
        model = {
          name    = "gpt-4o-mini"
          version = "2024-07-18"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 2000
        },
      },
      {
        name = "text-embedding-3-small"
        model = {
          name    = "text-embedding-3-small"
          version = "1"
        }
        sku = {
          name     = "Standard"
          capacity = 350
        },
      },
      {
        name = "text-embedding-3-large"
        model = {
          name    = "text-embedding-3-large"
          version = "1"
        }
        sku = {
          name     = "Standard"
          capacity = 350
        },
      },
      {
        name = "dall-e-3"
        model = {
          name    = "dall-e-3"
          version = "3.0"
        }
        sku = {
          name     = "Standard"
          capacity = 2
        },
      },
    ]
  },
  {
    location = "eastus2"
    deployments = [
      {
        name = "gpt-4o-mini-realtime-preview"
        model = {
          name    = "gpt-4o-mini-realtime-preview"
          version = "2024-12-17"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 6
        },
      },
      {
        name = "gpt-4o-mini-audio-preview"
        model = {
          name    = "gpt-4o-mini-audio-preview"
          version = "2024-12-17"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 2000
        },
      },
      {
        name = "whisper"
        model = {
          name    = "whisper"
          version = "001"
        }
        sku = {
          name     = "Standard"
          capacity = 3
        },
      },
      {
        name = "o1-mini"
        model = {
          name    = "o1-mini"
          version = "2024-09-12"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 500
        },
      },
      {
        name = "o1"
        model = {
          name    = "o1"
          version = "2024-12-17"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 500
        },
      },
      {
        name = "o3-mini"
        model = {
          name    = "o3-mini"
          version = "2025-01-31"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 500
        },
      },
    ]
  },
]

# ---
# Module: container_app
# ---
container_app_envs = [
  {
    name  = "CORE_VERSION"
    value = "0.0.2"
  },
  {
    name  = "CORE_LOG_LEVEL"
    value = "WARNING"
  },
  {
    name  = "AI_AZURE_OPENAI_ENDPOINT"
    value = "https://FIXME.openai.azure.com/"
  },
  {
    name  = "AI_AZURE_OPENAI_API_KEY"
    value = "FIXME"
  },
  {
    name  = "AI_AZURE_OPENAI_API_VERSION"
    value = "2024-10-21"
  },
  {
    name  = "AI_AZURE_OPENAI_MODEL_CHAT"
    value = "gpt-4o"
  },
  {
    name  = "AI_AZURE_OPENAI_MODEL_EMBEDDING"
    value = "text-embedding-3-large"
  },
  {
    name  = "STORAGE_BLOB_STORAGE_ACCOUNT_NAME"
    value = "FIXME"
  },
  {
    name  = "STORAGE_BLOB_STORAGE_CONTAINER_NAME"
    value = "dev"
  },
  {
    name  = "STORAGE_BLOB_STORAGE_SAS_TOKEN"
    value = "sp=racwdli&st=2024-10-17T23:32:36Z&se=2024-10-18T07:32:36Z&spr=https&sv=2022-11-02&sr=c&sig=FIXME"
  },
]
