# https://developer.hashicorp.com/terraform/language/backend/azurerm
terraform {
  backend "azurerm" {
    resource_group_name  = "rg-tfstatebackend-746a1"                 # Can be passed via `-backend-config=`"resource_group_name=<resource group name>"` in the `init` command.
    storage_account_name = "satfstatebackend746a1sa"                 # Can be passed via `-backend-config=`"storage_account_name=<storage account name>"` in the `init` command.
    container_name       = "satfstatebackend746a1sc"                 # Can be passed via `-backend-config=`"container_name=<container name>"` in the `init` command.
    key                  = "create_resource_group.terraform.tfstate" # Can be passed via `-backend-config=`"key=<blob key name>"` in the `init` command.
  }
}
