ai_services_deployments = [
  {
    location = "japaneast"
    deployments = [
      {
        name = "gpt-4o"
        model = {
          name    = "gpt-4o"
          version = "2024-08-06"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 450
        },
      },
      {
        name = "gpt-4o-mini"
        model = {
          name    = "gpt-4o-mini"
          version = "2024-07-18"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 2000
        },
      },
      {
        name = "text-embedding-3-small"
        model = {
          name    = "text-embedding-3-small"
          version = "1"
        }
        sku = {
          name     = "Standard"
          capacity = 350
        },
      },
      {
        name = "text-embedding-3-large"
        model = {
          name    = "text-embedding-3-large"
          version = "1"
        }
        sku = {
          name     = "Standard"
          capacity = 350
        },
      },
    ]
  },
  {
    location = "eastus"
    deployments = [
      {
        name = "gpt-4o"
        model = {
          name    = "gpt-4o"
          version = "2024-11-20"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 450
        },
      },
      {
        name = "gpt-4o-mini"
        model = {
          name    = "gpt-4o-mini"
          version = "2024-07-18"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 2000
        },
      },
      {
        name = "text-embedding-3-small"
        model = {
          name    = "text-embedding-3-small"
          version = "1"
        }
        sku = {
          name     = "Standard"
          capacity = 350
        },
      },
      {
        name = "text-embedding-3-large"
        model = {
          name    = "text-embedding-3-large"
          version = "1"
        }
        sku = {
          name     = "Standard"
          capacity = 350
        },
      },
      {
        name = "dall-e-3"
        model = {
          name    = "dall-e-3"
          version = "3.0"
        }
        sku = {
          name     = "Standard"
          capacity = 2
        },
      },
    ]
  },
  {
    location = "eastus2"
    deployments = [
      {
        name = "gpt-4o-mini-realtime-preview"
        model = {
          name    = "gpt-4o-mini-realtime-preview"
          version = "2024-12-17"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 6
        },
      },
      {
        name = "gpt-4o-mini-audio-preview"
        model = {
          name    = "gpt-4o-mini-audio-preview"
          version = "2024-12-17"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 2000
        },
      },
      {
        name = "whisper"
        model = {
          name    = "whisper"
          version = "001"
        }
        sku = {
          name     = "Standard"
          capacity = 3
        },
      },
      {
        name = "o1-mini"
        model = {
          name    = "o1-mini"
          version = "2024-09-12"
        }
        sku = {
          name     = "GlobalStandard"
          capacity = 500
        },
      },
    ]
  },
]
